body {
  font-weight: 300;
  background: #83a4d4;
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
  background: linear-gradient(to right, #b6fbff, #83a4d4);
}
.ipsType_right {
  text-align: right;
}
.ipsType_center {
  text-align: center;
}

.cInnerContent {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.ipsSpacer_bottom_double {
  margin-bottom: 30px;
}
.ipsGrid {
  display: flex;
  flex-wrap: wrap;
}

.ipsGrid > [class*="ipsGrid_span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}

.ipsGrid > .ipsGrid_span5 {
  width: 40.42553191489362%;
}
.ipsGrid > .ipsGrid_span7 {
  width: 57.44680851063829%;
}
.ipsGrid > [class*="ipsGrid_span"] {
  float: left;
  margin-left: 2%;
}
.ipsGrid > [class*="ipsGrid_span"]:first-child {
  margin-left: 0;
}
.feature {
  display: flex;
  align-items: center;
}
.card {
  margin-bottom: 30px;
  border-radius: 8px;
  overflow: hidden;
  background: #83a4d4;
  background: -webkit-linear-gradient(to bottom, #b6fbff, #83a4d4);
  background: linear-gradient(to bottom, #b6fbff, #83a4d4);

  transition: 0.3s;
}
.featured-image-container .card {
  padding: 10px;
  height: 0;
  padding-bottom: calc(100% - 10px);
}
h2.heading_large {
  font-size: 1.8em;
}
img {
  max-width: 100%;
}

.header-section {
  margin: 200px auto;
  font-size: 12rem;
}

.gs_reveal {
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
}
